.grid-layout {
  margin: 0 auto;
  width: 17.5rem;

  & > ul {
    @extend .wrappable-layout;

    margin-bottom: 2.5rem;
    padding: 0;

    & > li {
      box-sizing: border-box;
      list-style-type: none;
      padding-top: 2.5rem;
      max-width: 25.625rem;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

@media screen and (min-width: 23.75rem) {
  .grid-layout {
    width: 21.25rem;
  }
}

@media screen and (min-width: 50rem) {
  .grid-layout {
    width: 46.875rem;

    & > ul {
      margin: 0 (-2.1875rem) 5rem (-2.1875rem);

      & > li {
        padding: 5rem 2.1875rem 0 2.1875rem;

        &:nth-child(2) {
          padding-top: 0;
        }

        &:nth-child(2n + 1) {
          border-right: 1px solid #e9e9e9;
        }
      }
    }
  }
}

@media screen and (min-width: 75rem) {
  .grid-layout {
    width: 72.5rem;

    & > ul > li {
      border-right: 1px solid #e9e9e9;

      &:nth-child(3) {
        padding-top: 0;
      }

      &:nth-child(3n),
      &:only-child {
        border: none;
      }
    }
  }
}
