<p><%= t('.we_will_contact_you', name: @membership_request.full_name) %></p>

<p><%= t('.subscribe') %></p>
<ul>
  <li><%= link_to t('.telegram'), 'https://telegram.me/Libertarians' %></li>
  <li><%= link_to t('.vk'), 'https://vk.com/public24070381' %></li>
  <li><%= link_to t('.digest'), 'https://vk.com/digestlpr' %></li>
</ul>
