.Button_theme_telegram {
  background: #1d98dc;
  box-shadow: 0 0.5rem 0.875rem 0 #d2d3e0;
}

.Button_theme_telegram .Button-Icon {
  display: flex;
  padding-right: 0.375rem
}

.Button_theme_telegram .Button-Text {
  color: #fff;
}
