.Button_theme_emerald {
  background: linear-gradient(to right, #4bb560, #38568a),
              linear-gradient(to right, #3ea875, #2b6d88);
  box-shadow: 0 0.5rem 0.875rem 0 #d2d3e0;
}

.Button_theme_emerald .Button-Text {
  color: #fff;
}
