.button {
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.1875;
  padding: 0.71875rem 1rem;
}

.button-default {
  background: #f3f3f3;
  color: #383838;

  &:hover,
  &:focus,
  &::-moz-focus-inner {
    background: darken(#f3f3f3, 10%);
  }
}

.button-primary {
  background: #f54141;
  color: #fff;

  &:hover,
  &:focus,
  &::-moz-focus-inner {
    background: darken(#f54141, 10%);
  }
}

.button-tab {
  background: #f6f4f4;
  padding: 0.28125rem 0.4375rem;

  &:hover {
    background: darken(#f6f4f4, 5%);
  }

  &.is-active {
    background: #e9dacc;
    cursor: default;
    font-weight: 500;
  }
}

.button-toggle {
  &.is-active {
    display: none;
  }
}
