.publication {
  color: #222;
  font: 1.125rem/1.55 'PT Serif', serif;

  a {
    @extend .link;
  }

  address {
    font-style: normal
  }

  h2 {
    font: bold 1.5rem/1.25 Roboto, sans-serif;
  }

  h3 {
    font: 500 1.125rem/1.56 Roboto, sans-serif;
  }

  hr {
    border-bottom: 0;
    border-top: 1px solid #e9e9e9;
    height: 0;
    margin: 3.5rem 0;
  }

  ul,
  ol {
    padding-left: 2.25rem;
    list-style: none;

    & > li {
      margin-top: 1rem;
    }

    & > li::before {
      display: inline-block;
      margin-left: -1.625rem;
      width: 1.625rem;
    }
  }

  ol {
    counter-reset: item;

    & > li {
      counter-increment: item;
    }

    & > li::before {
      color: #999;
      content: counter(item) ".";
    }
  }

  ul > li::before {
    color: #444;
    content: "•";
  }

  footer {
    margin: 3rem 0;
    text-align: center;

    & > div {
      margin: 0.5rem;
    }
  }
}

@media screen and (min-width: 58rem) {
  .publication {
    ul,
    ol {
      padding-left: 4.125rem;
    }
  }
}
