<%= react_component('Header', {theme: 'default', activeLink: 'donate', className: 'Page-Header'}, prerender: true) %>
<div class="page-layout donate">
  <div class="donate__heading">
    <%= react_component('Heading', {size: 'l', tag: 'h1', children: t('.support_financially')}, prerender: true) %>
  </div>
  <p class="donate__lead donate__paragraph"><%= t('.why_donate') %></p>

  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <div class="donate__subheading">
          <%= react_component('Heading', {size: 'm', tag: 'h2', children: t('.treasury.title')}, prerender: true) %>
        </div>
        <p class="donate__paragraph"><%= t('.treasury.about') %></p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-radiogroup="treasury"
                data-show="#treasury">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-hide="#treasury"
                data-radiogroup="treasury">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="treasury" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-bitcoin">
              <%= t('.payment_methods.bitcoin.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-card-to-card">
              <%= t('.payment_methods.card_to_card.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-bank-transfer">
              <%= t('.payment_methods.bank_transfer.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-qiwi">
              <%= t('.payment_methods.qiwi.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="treasury-tabs"
                    data-hide="[id^=treasury-]"
                    data-show="#treasury-paypal">
              <%= t('.payment_methods.paypal.title') %>
            </button>
          </li>
        </ul>
      </div>
      <section id="treasury-bitcoin" class="media">
        <div class="media-image">
          <%= image_tag 'payment/bitcoin_treasury.png',
                alt: 'bitcoin:1GBLe6aQxhcgfiCEDGRYrPXM2vv6y86et1' %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bitcoin.about') %></p>
          <%= link_to '1GBLe6aQxhcgfiCEDGRYrPXM2vv6y86et1',
                'bitcoin:1GBLe6aQxhcgfiCEDGRYrPXM2vv6y86et1',
                class: 'link bitcoin' %>
        </div>
      </section>
      <section id="treasury-card-to-card" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/card_to_card.svg',
                alt: t('.payment_methods.card_to_card.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.card_to_card.about') %></p>
          4817 7600 7214 0332
        </div>
      </section>
      <section id="treasury-bank-transfer" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/bank_transfer.svg',
                alt: t('.payment_methods.bank_transfer.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bank_transfer.about') %></p>
          <table>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.account') %></td>
              <td>40817810938040348964</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.recipient') %></td>
              <td>Алексей Игоревич Нефедов</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.bic') %></td>
              <td>044525225</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.bank') %></td>
              <td>МОСКОВСКИЙ БАНК СБЕРБАНКА РОССИИ Г.&nbsp;МОСКВА</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.corr_account') %></td>
              <td>30101810400000000225</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.taxpayer_id') %></td>
              <td>7707083893</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.tax_reg_code') %></td>
              <td>773601001</td>
            </tr>
          </table>
        </div>
      </section>
      <section id="treasury-qiwi" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/qiwi.svg',
                alt: t('.payment_methods.qiwi.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.qiwi.about') %></p>
          +79872574005
        </div>
      </section>
      <section id="treasury-paypal" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/paypal.svg',
                alt: t('.payment_methods.paypal.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.paypal.about') %></p>
          <%= link_to 'https://www.paypal.me/alexeynefedov',
                'https://www.paypal.me/alexeynefedov',
                class: 'link' %>
        </div>
      </section>
    </div>
  </article>

  <hr class="donate__ruler">

  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <div class="donate__subheading">
          <%= react_component('Heading', {size: 'm', tag: 'h2', children: t('.moscow.title')}, prerender: true) %>
        </div>
        <p class="donate__paragraph"><%= t('.moscow.about') %></p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-show="#moscow"
                data-radiogroup="moscow">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-radiogroup="moscow"
                data-hide="#moscow">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="moscow" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active"
                    data-radiogroup="moscow-tabs"
                    data-hide="[id^=moscow-]"
                    data-show="#moscow-card-to-card">
              <%= t('.payment_methods.card_to_card.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="moscow-tabs"
                    data-hide="[id^=moscow-]"
                    data-show="#moscow-qiwi">
              <%= t('.payment_methods.qiwi.title') %>
            </button>
          </li>
        </ul>
      </div>
      <section id="moscow-card-to-card" class="media">
        <div class="media-image">
          <%= image_tag 'payment/card_to_card.svg',
                alt: t('.payment_methods.card_to_card.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.card_to_card.about') %></p>
          <p><%= t('.banks.roketbank') %>: 5321 3003 8954 5901</p>
          <p><%= t('.banks.sberbank') %>: 4276 3800 2097 5392</p>
          <p><%= t('.banks.tinkoff') %>: 5536 9137 5176 4420</p>
        </div>
      </section>
      <section id="moscow-qiwi" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/qiwi.svg',
                alt: t('.payment_methods.qiwi.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.qiwi.about') %></p>
          <%= link_to '+79163041212',
                'https://qiwi.com/payment/form/99?extra%5B%27account%27%5D=%2B79163041212&amountInteger=100',
                class: 'link' %>
        </div>
      </section>
    </div>
  </article>

  <!--SVTV
  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <h3>
          <%= link_to t('.svtv.title'),
                'https://www.youtube.com/channel/UCWjEiMNZv4g3P9BWbrtMjyA',
                class: 'link' %>
        </h3>
        <p><%= t('.svtv.about') %></p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-show="#svtv"
                data-radiogroup="svtv">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-radiogroup="svtv"
                data-hide="#svtv">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="svtv" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active">
              <%= t('.payment_methods.bitcoin.title') %>
            </button>
          </li>
        </ul>
      </div>
      <section id="svtv-bitcoin" class="media">
        <div class="media-image">
          <%= image_tag 'payment/bitcoin_svtv.png',
                alt: 'bitcoin:154H8UAG9EgBPHNFuW8u6h56JdqpSsAYmS' %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bitcoin.about') %></p>
          <%= link_to '154H8UAG9EgBPHNFuW8u6h56JdqpSsAYmS',
                'bitcoin:154H8UAG9EgBPHNFuW8u6h56JdqpSsAYmS',
                class: 'link bitcoin' %>
        </div>
      </section>
    </div>
  </article>

  <hr>
  SVTV-->

  <!-- freedom side
  <article>
    <section class="actionblock">
      <div class="actionblock-content">
        <h3>
          <%= link_to t('.freedom_side.title'),
                'https://vk.com/on_the_side_of_freedom',
                class: 'link' %>
        </h3>
        <p><%= t('.freedom_side.about') %></p>
      </div>
      <div class="actionblock-actions">
        <button class="button button-primary button-toggle is-active"
                data-inactive
                data-radiogroup="freedom-side"
                data-show="#freedom-side">
          <%= t('.expand') %>
        </button>
        <button class="button button-default button-toggle"
                data-active
                data-hide="#freedom-side"
                data-radiogroup="freedom-side">
          <%= t('.collapse') %>
        </button>
      </div>
    </section>
    <div id="freedom-side" data-hidden>
      <div class="tabs">
        <div class="tabs-cta">
          <%= t('.choose_payment_method') %>
        </div>
        <ul>
          <li>
            <button class="button button-tab is-active"
                    data-radiogroup="freedom-side-tabs"
                    data-hide="[id^=freedom-side-]"
                    data-show="#freedom-side-bitcoin">
              <%= t('.payment_methods.bitcoin.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="freedom-side-tabs"
                    data-hide="[id^=freedom-side-]"
                    data-show="#freedom-side-card-to-card">
              <%= t('.payment_methods.card_to_card.title') %>
            </button>
          </li>
          <li>
            <button class="button button-tab"
                    data-radiogroup="freedom-side-tabs"
                    data-hide="[id^=freedom-side-]"
                    data-show="#freedom-side-bank-transfer">
              <%= t('.payment_methods.bank_transfer.title') %>
            </button>
          </li>
        </ul>
      </div>
      <section id="freedom-side-bitcoin" class="media">
        <div class="media-image">
          <%= image_tag 'payment/bitcoin_freedom_side.png',
                alt: 'bitcoin:12fcU1Scp57wMfPRTU3L4EhRqRDT5HS6z1' %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bitcoin.about') %></p>
          <%= link_to '12fcU1Scp57wMfPRTU3L4EhRqRDT5HS6z1',
                'bitcoin:12fcU1Scp57wMfPRTU3L4EhRqRDT5HS6z1',
                class: 'link bitcoin' %>
        </div>
      </section>
      <section id="freedom-side-card-to-card" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/card_to_card.svg',
                alt: t('.payment_methods.card_to_card.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.card_to_card.about') %></p>
          5321 3002 4099 9891
        </div>
      </section>
      <section id="freedom-side-bank-transfer" class="media" data-hidden>
        <div class="media-image">
          <%= image_tag 'payment/bank_transfer.svg',
                alt: t('.payment_methods.bank_transfer.title') %>
        </div>
        <div class="media-body">
          <p><%= t('.payment_methods.bank_transfer.about') %></p>
          <table>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.account') %></td>
              <td>40817810517500025412</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.recipient') %></td>
              <td>Веневитинов Сергей Сергеевич</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.bic') %></td>
              <td>044525999</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.bank') %></td>
              <td>Точка ПАО Банка "ФК Открытие"</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.corr_account') %></td>
              <td>30101810845250000999</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.taxpayer_id') %></td>
              <td>7706092528</td>
            </tr>
            <tr>
              <td><%= t('.payment_methods.bank_transfer.tax_reg_code') %></td>
              <td>770543002</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </article>
  freedom side -->
</div>
<%= react_component('Footer', {className: 'Page-Footer'}, prerender: true) %>
