<div style='background-image: linear-gradient(to top, #312e3e, #141414)'>
  <%= react_component('Header', {theme: 'negative', activeLink: 'party', className: 'Page-Header'}, prerender: true) %>
</div>
