.Button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  height: 2.625rem;
  padding: 0 1.3125rem 0 1.125rem;
}

.Button:focus {
  outline: none;
}

.Button::-moz-focus-inner {
  border: none;
}
