.Menu-Header {
  align-items: center;
  display: flex;
  height: 3.875rem;
  justify-content: space-between;
  margin: 0 1.25rem;
}

@media screen and (min-width: 47.75rem) {
  .Menu-Header {
    margin: 0 3.125rem;
  }
}
