.Header-Link {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  margin-right: 1rem;
  text-decoration: none;
}

.Header-Link:last-child {
  margin-right: 0;
}

@media screen and (min-width: 56.25rem) {
  .Header-Link {
    margin-right: 1.5625rem;
  }
}
