<div class="container">
  <section class="actions">
    <div class="level">
      <div class="level-left">
        <h1 class="title is-4 has-text-white"><%= t('.publications') %></h1>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to t('.add'), new_admin_publication_path, class: 'button' %>
        </div>
      </div>
    </div>
  </section>

  <section class="list">
    <div class="list-header">
      <div class="columns is-mobile">
        <div class="column is-two-thirds">
          <span><%= Publication.human_attribute_name(:title) %></span>
        </div>
        <div class="column is-one-third">
          <span><%= Publication.human_attribute_name(:published_at) %></span>
        </div>
      </div>
    </div>

    <div class="list-body">
      <% @publications.each do |publication| %>
        <%= link_to edit_admin_publication_path(publication),
              class: 'list-item' do %>
          <div class="columns is-mobile">
            <div class="column is-two-thirds">
              <span><%= publication.title %></span>
            </div>
            <div class="column is-one-third">
              <span><%= l(publication.published_at, format: :long) %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <%= paginate @publications, views_prefix: 'admin' %>
</div>
