@media screen and (min-width: 26.25rem) {
  .Page-Footer {
    margin: 0 1.25rem;
  }
}

@media screen and (min-width: 47.75rem) {
  .Page-Footer {
    margin: 0 3.125rem;
  }
}

@media screen and (min-width: 76.5rem) {
  .Page-Footer {
    margin: 0 auto;
    width: 72.5rem;
  }
}
